<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Handlebars at work</title>
</head>
<body>
    <a href="report">Report</a>
    <h1>BMI Calculator</h1>

    <form >
        <label for="weight">Weight (in Kg):</label><br>

        <input type="text" name="weight" id="weight"  class="form-control"><br>
        <label for="height">Height (in metres):</label><br>
        <input type="text" id="height" name="height" class="form-control"><br><br>

        <button > Submit</button>
        <p id="bmi-result"></p><br>
        <p id="bmi-prediction"></p>
    </form>
    <script src="/js/main.js"></script>
</body>
</html>