<!doctype html>
<html lang="en">
    <head>
        <title>Reports</title>
        <meta charset="utf-8"/>
    </head>
    <body onload="fetchReport()">
        <h1>Reports</h1>

        <table id="entries">
        </table> <br><br>

        <p id="bmi-average"> </p><br>


    </body>
    <script src="js/main.js"></script>

</html>